body{
    min-width: 100px;
    text-align: center;
    min-width: 140px;
    h5 {
        color: #999;
        margin-bottom: 5px;
    }

    .inputGroup { 
        position: relative; 
        margin: 25px 0px; 
        input {
            font-size: 1.1em;
            padding: 5px 6px;
            border: none;
            border-bottom: 1px solid #757575;
            &:focus { 
                outline: none; 
            }
            &:focus ~ label, 
            &:valid ~ label {
                top: -16px;
                font-size: 1.1em;
                color: #37474f;
            }
            &:focus ~ .bar:before,
            &:focus ~ .bar:after {
                width: 50%;
            }
            &:focus ~ .highlight {
                -webkit-animation: inputHighlighter 0.3s ease;
                animation: inputHighlighter 0.3s ease;
            }
        }
        .requeried{
            &:invalid ~ label {
                color: #e22a2a;
            }
            &:invalid ~ .bar:before,
            &:invalid ~ .bar:after{
                background-color: #e22a2a;
            }
        }
        .bar { 
            position: relative; 
            display: block; 
            width: 100%;
            &:before, 
            &:after {
                content: '';
                height: 2px; 
                width: 0;
                bottom: 1px; 
                position: absolute;
                background: #37474f; 
                transition: 0.2s ease all; 
                -moz-transition: 0.2s ease all; 
                -webkit-transition: 0.2s ease all;
            }
            &:before {
                left: 50%;
            }
            &:after {
                right: 50%; 
            } 
        }
        .highlight {
            position: absolute;
            height: 60%; 
            width: 100%; 
            top: 25%; 
            left: 0;
            pointer-events: none;
            opacity: 0.5;
        }
        label {
            color:#757575; 
            font-size: 1.25em;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 0px;
            transition: 0.2s ease all; 
            -moz-transition: 0.2s ease all; 
            -webkit-transition: 0.2s ease all;
        }

        @-webkit-keyframes inputHighlighter {
            from { 
                background: #37474f;
            }
            to { 
                width: 0;
                background: transparent;
            }
        }
        @keyframes inputHighlighter {
            from {
                background: #37474f;
            }
            to {
                width: 0; 
                background: transparent;
            }
        }
    }

    #addShortcut_content{
        .inputGroup{
            margin-bottom: 10px;
        }
    }

    .icon{
        cursor: pointer;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-image: url("/img/icons_sprite.png");
    }
    
    #addShortcut{
        background-position: -5px -5px;
        display: block;
        float: right;
        margin: 10px 0px;
    }
    #removeShortcut{
        background-position: -8px -66px;
        display: none;    
        margin: auto;
    }
}
